*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.book-info{
   
}

.history {
    margin-left: 50px;
    margin-right: 150px;
    width: 960px; 
    margin:0 auto;
}

.titl {
    padding-left: 1500px; 
}